@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #e4e4e4;
  /* position: relative; */
}
*:not(i) {
  font-family: "Poppins", sans-serif;
}
:root {
  --main--color: #2293c7;
  --primary--color: #ffffff;
  --secondary--color: #111111;
  --bg--color: #000000;
}
ul {
  list-style: none;
}
a {
  color: var(--primary--color);
  text-decoration: none;
}
.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* ================== Header Start ================ */
header {
  width: 100%;
  background-color: var(--main--color);
  padding: 2rem 0;
  position: fixed;
  z-index: 1000;
}
.logo h3 {
  font-size: 2.7rem;
  color: var(--primary--color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav a {
  font-size: 1.5rem;
  text-decoration: none;
}
nav a#logo {
  color: var(--secondary--color);
  font-weight: 700;
}
nav ul a {
  color: var(--primary--color);
  font-weight: 600;
}
nav ul a:hover {
  border-bottom: 2px solid var(--primary--color);
}
#ham-menu {
  display: none;
}
nav ul.active {
  left: 0;
}

/* ================== Header End ================ */

/* ================== Home Start ================ */
.home .container {
  /* min-height: 100ch; */
  background-color: var(--primary--color);
  padding-bottom: 3rem;
}

.home .calculator_wapper {
  border-radius: 0.4rem;
  width: 100%;
  max-width: 1270px;
  padding-top: 15rem;
  max-width: 830px;
}
.home h1 {
  font-size: 3rem;
}
.home .info {
  display: grid;
  grid-template-columns: auto 25%;
  gap: 3rem;
  margin-top: 0.8rem;
}

.home .custom-select {
  position: relative;
}

.home .select-trigger,
.select-position {
  padding: 13px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  background-color: var(--primary--color);
  font-size: 1.4rem;
  border-radius: 0.5rem;
}

.home .options,
.position-options {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  z-index: 1000;
  border-radius: 0.5rem;
}

.home .options li,
.position-options li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  font-size: 1.5rem;
}

.home .options li:hover {
  background-color: var(--main--color);
}

.home .position-options li:hover {
  background-color: var(--main--color);
}

.home .calculator {
  margin-top: 3rem;
}
.home .calculator div {
  margin-bottom: 2rem;
}
.home .calculator label {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.home .calculator .input_group {
  display: flex;
  align-items: center;
  position: relative;
}
.home .calculator .input_group div {
  background-color: var(--main--color);
  color: var(--primary--color);
  height: 4.5rem;
  width: 4rem;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.home .calculator .input_group input {
  padding: 0rem 1rem;
  padding-left: 5rem;
  height: 4.5rem;
  outline: none;
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 0.5rem;
}

.home .calculator button {
  background-color: var(--main--color);
  color: var(--primary--color);
  padding: 1rem 3rem;
  height: 4.5rem;
  font-size: 1.8rem;
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
}
.home .result {
  margin-top: 2rem;
  /* display: none; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .title {
  background-color: var(--main--color);
  color: var(--primary--color);
  height: 5rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0 4rem;
}
.home .result h5 {
  font-size: 1.7rem;
  line-height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
/* ================== Home End ================ */
/* ================== FAQ Start ================ */

.fqa .container {
  margin-top: 5rem;
  padding-top: 3rem;
  background-color: var(--primary--color);
}
.fqa .title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.fqa .card {
  padding-bottom: 3rem;
  max-width: 100rem;
}
.fqa .question {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.fqa .question div {
  background-color: #239ad1c6;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  color: var(--primary--color);
}
.fqa .question h2 {
  font-size: 1.8rem;
}

.fqa .fqa_wapper p {
  font-size: 1.5rem;
}

.fqa .fqa_wapper ol {
  margin-left: 2rem;
  font-size: 1.4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 2.2rem;
}

/* ================== FAQ End ================ */

/* ================== About Start ================ */

.about .about_banner {
  background-color: var(--bg--color);
  width: 100%;
  min-height: 25rem;
  position: relative;
}
.about .title {
  text-align: center;
  font-size: 4rem;
  color: var(--primary--color);
  padding: 2rem;
}
.about .image {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  border: 1px solid var(--secondary--color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  background-color: #ddd;
}
.about .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.info {
  max-width: 90rem;
  margin: 0 auto;
  margin-top: 20rem;
}
.info p {
  font-size: 1.5rem;
  line-height: 2rem;
}

/* ================== About End ================ */

/* ================== Footer Start ================ */
footer {
  background-color: var(--main--color);
  padding: 5rem;
  margin-top: 3rem;
}
footer .footer_wapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .copyright {
  font-size: 1.4rem;
  color: var(--primary--color);
}
footer .copyright a {
  color: var(--bg--color);
}
/* ================== Footer End ================ */

/* --------Responsive  */
@media only screen and (max-width: 991px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 767px) {
  .popup {
    width: 90%;
  }
  #ham-menu {
    display: block;
    color: var(--primary--color);
  }
  nav a#logo,
  #ham-menu {
    font-size: 3.2rem;
  }
  nav ul {
    background-color: var(--main--color);
    position: fixed;
    left: -100vw;
    top: 73.6px;
    width: 20rem;
    /* height: calc(100vh - 73.6px); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 1s;
    gap: 0;
    z-index: 1000;
    padding: 2rem;
    line-height: 4.5rem;
  }
}
@media only screen and (max-width: 575px) {
  nav ul {
    top: 65.18px;
    height: calc(100vh - 65.18px);
  }
  /* .home .calculator_wapper {
    padding: 4rem 2rem;
  } */
  footer .footer_wapper {
    flex-direction: column;
    align-items: center;
  }
}
